<!-- Řádky musí být v <thead> aby řádky nebyly pruhované -->

<!-- <table>
    <tbody>
        <tr>
            <td>a</td>
        </tr>
        <tr>
            <td>b</td>
        </tr>
        <tr>
            <td>c</td>
        </tr>
    </tbody>
</table> -->


<!-- Problem s tabulkou, styl vklada nechtenou bilou mezeru za tabulku, řešení: -->

<!--Pondělí &emsp; 9:00 - 19:00 <br>
Úterý &emsp; 9:00 - 19:00 <br>
Středa &emsp; 9:00 - 19:00 <br>
Čtvrtek &emsp; 9:00 - 19:00 <br>
Pátek &emsp; 9:00 - 19:00 <br>
Sobota &emsp; 9:00 - 19:00 <br>
Neděle &emsp; 9:00 - 19:00 <br>-->