<table>
    <thead>
        <tr>
            <td colspan="2"></td>
            <th>Po</th>
            <td>9:00 - 19:00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>Út</th>
            <td>9:00 - 19:00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>St</th>
            <td>9:00 - 19:00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>Čt</th>
            <td>9:00 - 19:00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>Pá</th>
            <td>9:00 - 19:00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>So</th>
            <td>9:00 - 19:00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>Ne</th>
            <td>9:00 - 19:00</td>
        </tr>
    </thead>
</table>